[submodule "lib/ffmpeg-io"]
	path = lib/ffmpeg-io
	url = ../ffmpeg-io.git
[submodule "lib/nrc2"]
	path = lib/nrc2
	url = ../nrc2.git
[submodule "lib/c-vector"]
	path = lib/c-vector
	url = https://github.com/Mashpoe/c-vector.git
[submodule "lib/streampu"]
	path = lib/streampu
	url = https://github.com/aff3ct/streampu.git
