[submodule "lib/ffmpeg-io"]
	path = lib/ffmpeg-io
	url = ../ffmpeg-io.git
[submodule "lib/nrc2"]
	path = lib/nrc2
	url = ../nrc2.git
[submodule "lib/aff3ct-core"]
	path = lib/aff3ct-core
	url = https://github.com/aff3ct/aff3ct-core.git
[submodule "lib/c-vector"]
	path = lib/c-vector
	url = https://github.com/kouchy/c-vector.git
[submodule "lib/lsl"]
	path = lib/lsl
	url = ../lsl-lib
