mkdocs==1.2.3
jinja2==3.0.0
Sphinx==4.5.0
sphinx-rtd-theme==1.2.0
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-websupport==1.1.0
sphinxcontrib-svg2pdfconverter==1.2.2
sphinxcontrib-video==0.0.1.dev3
breathe==4.32.0
mistune==0.8.4
m2r==0.3.1
docutils==0.14
exhale==0.3.6
